div {
    max-width: 1600px;
}

content {
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #172A3A;
}

header {
    background-color: #508991; 
}

body {
    background-color: #ffffff;
}

nav a:hover{
    background-color: #345a5f;
}

.book {
    background-color: #75DDDD;
}

.join {
    background-color: #75DDDD; 
}