div {
    max-width: 1600px;
}

content {
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #ffffff;
}

#hero-msg h1 {
    text-align: center;
}

nav a:hover {
    background-color: #345a5f;
    color: #aba9a9;
}

#hero-msg h4 {
    text-align: center;
}

.home-title {
    color: #184464;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #172A3A;
}

header {
    background-color: #508991;
}

body {
    background-color: #ffffff;
}

h4 {
    color: #6f7364;
}

.book {
    background-color: #78c5d7;
    color: #4d4d4d;
}

.join {
    background-color: #78c5d7;
    color: #4d4d4d;
}

.book:hover {
    background-color: #4c7d88;
    color: #ffffff;
}

.join:hover {
    background-color: #4c7d88;
    color: #ffffff;
}

.msg {
    background-color: #e3e3e3;
}

.msg h2 {
    color: #184464;
}

.msg p {
    color: #4c7d88;
}

footer {
    background-color: #508991;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #aba9a9;
}